<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- <img src="/plot2.png" alt="my plot"> -->
    <label>Bar Graph</label>
    <!-- <img src= "/plot2.png" alt="Image Placeholder" height="100"> -->
    <img src="/my_plot3.png" alt="Image Placeholder">

</body>
</html>