<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{{ url_for('assets', filename='img/favicon.png') }}">
  <link rel="apple-touch-icon" href="{{ url_for('assets', filename='img/apple-touch-icon.png') }}">


  <!-- Google Fonts -->

  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{{ url_for('assets/vendor/bootstrap', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets/vendor/bootstrap-icons', filename='bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets/vendor/remixicon', filename='remixicon.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets/vendor/boxicons', filename='css/boxicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets/vendor/quill', filename='quill.snow.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets/vendor/quill', filename='quill.bubble.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets/vendor/simple-datatables', filename='style.css') }}">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('assets', filename='css/style.css') }}">
  <!-- =======================================================
  * Template Name: NiceAdmin - v2.1.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
{% block head %}{% endblock %}
<body>
    {% block body %}{% endblock %}

</body>

</html>